* {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

img {
    vertical-align: top;
    border: none
}

.header-wrap {
    background: url('assets/background_image.jpg');
    background-size: cover;
    height: 300px;
    width: 1200px;
    margin-left: 50%;
    transform: translateX(-50%);
    /*left属性基于父元素的大小，transform属性基于目标元素的大小*/
    /*即：向左移动父元素的一半宽度，再往回(负号)移动子元素的一半宽度。这样子元素就肯定居中了*/
}

.header {
    background-color: white;
    height: 200px;
    width: 800px;
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;
}

.profile-wrap {
    height: 100%;
    width: 68%;
    float: left;
}

.profile-photo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-left: 50px;
}

.profile-text {
    line-height: normal;
    height: 200px;
    width: 200px;
    margin-left: 50px;
    display: inline-block;
    /*行内块元素，与前面的img保持一致，不然二者不能处于同一行*/
}

.profile-text>h3 {
    margin-top: 70px;
    font-size: 33px;
}

.vertical-line {
    height: 50px;
    width: 2px;
    margin-top: 75px;
    display: inline-block;
    background-color: black;
}

.message-wrap {
    height: 100%;
    width: 30%;
    display: inline-block;
    float: right;
}

.messageBox {
    margin-top: 10px;
    margin-left: 30px;
}

.messageBox:nth-child(1) {
    margin-top: 60px;
}

.messageBox>img {
    height: 20px;
    width: 20px;
    float: left;
}

.messageBox>p {
    font-size: 15px;
}

.mainBox {
    height: 850px;
    width: 1200px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.sidebar {
    height: 100%;
    width: 25%;
    float: left;
}

.text-box {
    margin-top: 50px;
    margin-left: 40px;
}

.text-box>p {
    margin-top: 10px;
}

.sidebar .text-box:nth-child(1)>p:first-of-type {
    /*前面有兄弟节点时不能用nth-child(n)选择器*/
    /*这里使用了：类选择器(.)、后代选择器(空格)、子元素选择器(>)、伪类选择器nth-child(n)、伪类选择器first-of-type(伪类用:)*/
    /*实际上只需要重命名一个ID选择器即可。但我就是喜欢套娃！而你们也要熟练掌握，以免看到类似代码头晕*/
    font-weight: bold;
}

.sidebar .text-box:nth-child(1)>p:last-of-type {
    font-size: 13px;
}

.horizontal-line {
    width: 50px;
    height: 4px;
    margin-top: 10px;
    background-color: rosybrown;
}

#line2 {
    margin-top: 60px;
    margin-left: 7%;
    height: 80%;
    background-color: rgb(62, 107, 141);
}

.content {
    height: 100%;
    width: 65%;
    float: right;
}

.content .text-box:nth-child(2)>p:nth-child(odd) {
    /*前面有兄弟节点时nth-child(n)选择器不能选择第几个，但可以选择奇偶数*/
    font-weight: bold;
}