/*清除网页格式，不管有用没用可以都加上*/
* {
  margin: 0;
  padding: 0
}

.container {
  height: 500px;
  display: grid;
  grid-template-columns: 1000px;
  justify-content: center;
  padding: 3px;
  background-color: #eee;
}

.title {
  justify-self: center;
  margin: 3px 0;
  font: 1px monospace;
  background-color: #ddd;
}

.masonry {
  display: grid;
  /* 自适应列宽。设置了最小宽度，1fr表示网格均分 */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* 网格空隙 */
  grid-gap: 5px;
  /* 逐行排列 */
  grid-auto-flow: row dense;
  /* 自适应行高 */
  grid-auto-rows: minmax(20px, auto);
  grid-auto-columns: auto;
  background-color: #aaa;
}

.masonry .item {
  width: 100%;
  background: #222;
  color: #ddd;
}

.masonry .item:nth-of-type(3n+1) {
  grid-row: auto / span 5;
  grid-column: auto;
}

.masonry .item:nth-of-type(3n+2) {
  grid-row: auto / span 6;
}

.masonry .item:nth-of-type(3n+3) {
  grid-row: auto / span 8;
}